{% extends "base.html" %}
{% block content %}

<div class="container kirjautumis-container">
    <br>
    <div class="container">
       
        <br>
        <div class="col-lg-offset-1">
             <h2>Ilmari Pohjola</h2>
        <br>
        <ul>
            <li><strong>Ikä: </strong>36</li>
            <li><strong>Puhnro:</strong> 04055555555</li>
            <li><strong>Sähköposti: </strong> dum@hotmail.com</li>
        </ul>
        <br>
            <div class="checkbox">

                <h4>Kiinnostuksenkohteet:</h4>
                <ul>
                    <li><strong>Jalkapallo</strong></li>
                    <li><strong>Matematiikka</strong></li>
                    <li><strong>Ohjelmointi</strong></li>
                </ul>

                <br>
                <br>

                <h4>Lyhyt kuvaus itsestäni:</h4>
                <ul>
                    <li>Olen mörkö, joka syntyi maaliskuussa syödäkseen tuoreita kukkia.</li>
                </ul>
            </div>
        </div>
        <br>
        <br>
    </div>



    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}
