{% extends "base.html" %}
{% block content %}

<div class="container kirjautumis-container">
    <br>
    <div class="container">
       
        <br>
        <div class="col-lg-offset-1">
             <h2>{{kayttaja.kayttajatunnus}}</h2>
        <br>
        
        <br>
            <div class="checkbox">

                <h4>Kiinnostuksenkohteet:</h4>
                <ul>
                    {% for kiinnostus in kiinnostukset %}
                    <li><strong>{{kiinnostus.kiinnostus}}</strong></li>
                    {% endfor %}
                </ul>

                <br>
                <br>

                <h4>Lyhyt kuvaus itsestäni:</h4>
                <ul>
                    <li>{{kayttaja.kuvaus}}</li>
                </ul>
            </div>
        </div>
        <br>
        <br>
    </div>



    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}
