{% extends "base.html" %}
{% block content %}


<div class="container kirjautumis-container">
    <br>



    <div class="container" >

        <h3>Tällä hetkellä olen kiinnostunut: </h3>
        
        
        <br>
        <br>
        <div class="col-lg-offset-1">
            <div class="checkbox">
                <p>                    
                    <input type="checkbox" name="filosofia">
                    Filosofiasta
                </p>
                <p>   
                    <input type="checkbox" name="jalkapallo">
                    Jalkapallosta
                </p>
            </div>
        </div>
        <br>
        <br>
    </div>



    <div class="container">
        <div class="col-xs-2">
            <form>
                <div class="form-group">
                    <div>
                        <button  type="submit" class="btn btn-success"><b>Luo uusi kiinnostuksenkohde</b></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>







{% endblock %}