{% extends "base.html" %}
{% block content %}

<div class="container kirjautumis-container">
    <div class="container" >


        <form method="post" action="{{base_path}}/paivitakiinnostukset">
            <div class="form-group">
                <div class="col-xs-8">
                    <h2>Tällä hetkellä olen kiinnostunut näistä teemoista: </h2>
                    <br>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="container kirjautumis-container">
    <br>



    <div class="container" >


        <form method="post" action="{{base_path}}/paivitakiinnostukset">
            <div class="form-group">
                <div class="col-xs-5">
                    <p>
                        <button type="submit" class="btn btn-success">Lyö lukkoon</button>
                        <a href="http://vipohjol.users.cs.helsinki.fi/Tsoha/kiinnostuksenluonti" class="btn btn-primary">Luo uusi kiinnostuksenkohde</a>
                    </p>
                    <p><br></p>
                    <p><br></p>
                    {% for tag in tagit %}
                    <p>
                        <input type="checkbox" name="{{tag.id}}">
                        {{tag.kiinnostus}}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </form>
        <br>
        <br>
    </div>




    <br>
    <br>
    <br>
    <br>
</div>







{% endblock %}