{% extends "base.html" %}
{% block content %}

<div class="container luonti-container">
    <br>
    <div class="container">
        <form>
            <div class="form-group">
                <div class="col-xs-5">

                    <h2>Haluan luoda seuraavan kiinnostuksenkohteen:</h2>
                    <p>
                        <label>Kiinnostuksenkohde:</label>
                        <input type="text" class="form-control" placeholder="kiinnostuksenkohde">
                    </p>

                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="container">
        <div class="form-group">
            <div class="col-xs-5">
                <form>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-primary">Luo Kohde</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>

    {% endblock %}

