{% extends "base.html" %}
{% block content %}


<div class="container kirjautumis-container">
    <br>



    <div class="container" >

        <h3>Tällä hetkellä olen kiinnostunut näistä teemoista: </h3>


        <br>
        <br>

        <div class="col-lg-offset-1">
            <form>
                <div class="checkbox">
                    {% for tag in tagit %}
                    <p>                    
                        <input type="checkbox" name="{{tag.kiinnostus}}">
                        {{tag.kiinnostus}}
                    </p>
                    {% endfor %}
                    <p>
                        <button type="submit" class="btn-success">Lyö lukkoon</button>
                    </p>
                </div>
            </form>
        </div>
        <br>
        <br>
        <div>
            <a href="http://vipohjol.users.cs.helsinki.fi/Tsoha/kiinnostuksenluonti">Luo uusi kiinnostuksenkohde</a>
        </div>
    </div>




    <br>
    <br>
    <br>
    <br>
</div>







{% endblock %}