{% extends "base.html" %}
{% block content %}


<div class="container kirjautumis-container">
    <br>




    <div class="container" >   
        <form method="post" action="{{base_path}}/kirjautuminen">
            <div class="form-group">
                <div class="col-xs-3">
                    {% if error %}
                    <div class="alert-danger">
                        <ul>
                            <li>{{error}}</li>
                        </ul>
                    </div>
                    {% endif %}
                    
                    <p>
                    <h2>Kirjaudu Sisään</h2>
                    </p>
                    <div class="form-group">
                        <label>Käyttäjätunnus:</label>
                        <input type="text" class="form-control" name="kayttajatunnus"  placeholder="Käyttäjätunnus">
                    </div>
                    <p>

                        <label >Salasana:</label>   
                        <input type="password" class="form-control" size="10" maxlength="16" name="salasana" placeholder="Salasana"   

                    </p>
                    <p>
                        <button type="submit" class="btn btn-success">Kirjaudu sisään</button>
                    </p>
                    <p>
                        <text>Eikö sinulla vielä ole tiliä? Luo tästä uusi:</text><br><br>
                        <a href="{{base_path}}/tilinluonti" class="btn btn-primary">Luo käyttäjätili</a> 
                    </p>
                </div>

            </div>
        </form>
    </div>




    <br>
    <br>
    <br>
    <br>
</div>







{% endblock %}