{% extends "base.html" %}
{% block content %}

<h3>Login to your Meaning Of Life Account</h3>

<var id="2">
    <font color="red" style="visibility: hidden;"> Wrong password or invalid username! </font>
</var>
<br>

<style>
    .tab1 {
        position: absolute;
        left: 18em;
    }
</style>

<style>
    .tab2 {
        position: absolute;
        left: 25em;
    }
</style>



<div id="1">
    <p>
        <span class="tab1">username: </span>
        <input type="text" name="username"  placeholder="User name">
    </p>
    <p>
        <span class="tab1"> password: </span>   
        <input type="password" maxlength="10" name="password" placeholder="Password"   
    </p>


    <p>
        <button>login</button>
    </p>
</div>



<div action="hello_world_controller.php"><button id="btnClick" onclick="loginerrorviesti()">Click me!</button></div>



{% endblock %}