{% extends "base.html" %}
{% block content %}

<div class="container luonti-container">
    <div class="container">
        <form method="post" action="{{base_path}}/profiilinmuokkaus">
            <div class="form-group">
                <div class="col-xs-5">
                    <h1>{{kayttaja.kayttajatunnus}}</h1>
                </div>
            </div>
        </form>
    </div>
    <br>
    
</div>
<br>


<div class="container luonti-container">
    <br>
    <div class="container">
        <form method="post" action="{{base_path}}/profiilinmuokkaus">
            <div class="form-group">
                <div class="col-xs-5">

                    {% if errors %}
                    <div class="alert-danger">
                        <ul>
                            {% for error in errors %}
                            <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% endif %}



                    <h3>Profiilinmuokkaus:</h3>

                    <br>


                    <p>
                        <label>Etunimi:</label>
                        <input class="form-control" name="etunimi" value="{{kayttaja.etunimi}}">
                    </p>
                    <p>
                        <label>Sukunimi:</label>
                        <input class="form-control" name="sukunimi" value="{{kayttaja.sukunimi}}">
                    </p>
                    <p>
                        <label>Sähköposti:</label>
                        <input class="form-control" name="email_osoite" value="{{kayttaja.email_osoite}}">
                    </p>

                    <p>
                        <label>Uusi salasana:</label>
                        <input class="form-control" name="uusi_salasana" type="password">
                    </p>
                    <p>
                        <label>Salasana uudelleen:</label>
                        <input class="form-control" name="salasana2" type="password">
                    </p>
                    <p>
                        <label>Puhelinnumero:</label>
                        <input class="form-control" name="puhelinnumero"  value="{{kayttaja.puhelinnumero}}">
                    </p>
                    <p>
                        <label>Osoite:</label>
                        <input class="form-control" name="osoite" value="{{kayttaja.osoite}}">
                    </p>
                    <p>
                        <label>Lyhyt kuvaus itsestäni:</label>
                        <input class="form-control" name="kuvaus" value="{{kayttaja.kuvaus}}"> 
                    </p>
                    <p>
                        <label>Salasana:</label>
                        <input class="form-control" name="salasana" type="password">
                    </p>
                    <div>
                        <button type="submit" class="btn btn-primary">Varmista muutokset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>


    {% endblock %}
