{% extends "base.html" %}
{% block content %}




<div class="container luonti-container">
    <br>
    <div class="container">
        <form>
            <div class="form-group">
                <div class="col-xs-5">
                    <h1>{{attribuutit.tapahtuman_nimi}}</h1>

                    <br>

                    <h3>Muokkaa Tapahtumaa:</h3>

                    <br>


                    <p>
                        <label>Tapahtuman nimi:</label>
                        <input class="form-control" placeholder="{{attribuutit.tapahtuman_nimi}}">
                    </p>
                    <p>
                        <label>Päivämäärä:</label>
                        <input class="form-control" placeholder="{{attribuutit.pvm}}">
                    </p>
                    <p>
                        <label>Kellonaika:</label>
                        <input class="form-control" placeholder="{{attribuutit.kellonaika}}">
                    </p>
                    <p>
                        <label>Tapahtuma-Paikka:</label>
                        <input class="form-control" placeholder="{{attribuutit.tapahtumapaikka}}"> 
                    </p>
                    <p>
                        <label>Lyhyt kuvaus:</label>
                        <input class="form-control" placeholder="{{attribuutit.lyhyt_kuvaus}}">
                    </p>
                    <p>
                        <!-- Poistopainike tulee tähän -->

                    </p>
                </div>
            </div>
        </form>
        <br>
        <form>
            <div class="form-group">
                <div class="col-xs-5">
                    <form method="post" action="{{base_path}}/tapahtumanmuokkaus/{{attribuutit.id}}" style="display: inline-block;">
                        <button type="submit" class="btn btn-primary">Hyväksy muutokset</button>
                    </form>
                    <br>
                    <form method="post" action="{{base_path}}/tapahtumanpoisto/{{attribuutit.id}}" style="display: inline-block;">
                        <button type="submit" class="btn btn-danger">Poista</button>
                    </form>
                </div>
            </div>
        </form>
    </div>

    <br>








    {% endblock %}
