{% extends "base.html" %}
{% block content %}

<div class="container luonti-container">
    <br>
    <div class="container">
        <form method="post" action="{{base_path}}/tapahtumanluonti">
            <div class="form-group">
                <div class="col-xs-5">

                    <h2>Luo Tapahtuma:</h2>

                    <br>


                    <p>
                        <label>Tapahtuman nimi:</label>
                        <input class="form-control" name="tapahtuman_nimi" placeholder="tapahtuman nimi">
                    </p>

                    <p>
                        <label>Tapahtuma-Paikka:</label>
                        <input class="form-control" name="tapahtumapaikka" placeholder="tapahtumapaikka"> 
                    </p>

                    <p>
                        <label>Päivämäärä:</label>
                        <input class="form-control" name="pvm" placeholder="muodossa: 12.02.1972">
                    </p>
                    <p>
                        <label>Kellonaika:</label>
                        <input class="form-control" name="kellonaika" placeholder="muodossa: 14:00">
                    </p>
                    <p>
                        <label>Lyhyt kuvaus:</label>
                        <textarea class="form-control" name="lyhyt_kuvaus">                                
                        </textarea>
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary">Luo Tapahtuma</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <br>

    {% endblock %}
