{% extends "base.html" %}
{% block content %}

<div class="container kirjautumis-container">
    <br>
    <div class="container">
        <br>

        <h1>{{tapahtuma.tapahtuman_nimi}}</h1>
        <br>
        {%if tapahtuma.osallistuminen %}
        <label class="label label-success">Osallistun</label>
        {% else %}
        <label class="label label-default">En osallistu</label>
        {% endif %}
        <br>
        <br>
        <ul>
            <li><strong>Tapahtumapaikka: </strong>{{tapahtuma.tapahtumapaikka}}</li>            
            <li><strong>Päivämäärä: </strong>{{tapahtuma.pvm}}</li>
            <li><strong>Kellonaika: </strong>{{tapahtuma.kellonaika}}</li>
            <li><strong>Tapahtumanluoja: </strong>{{tapahtuma.tapahtuman_luoja}}</li>
        </ul>
        <br>
        <label> Kuvaus: </label>
        <ul><li>{{tapahtuma.lyhyt_kuvaus}}</li></ul>
        <br>
        <br>
        <label>Aihe-tagit: </label>
        
        {% for tagi in tagit %}
        <ul><li>{{tagi}}</li> </ul>
        {% endfor %}
       
    </div>
    {% if tapahtuma.osallistuminen %}
    <form method="post" action="{{base_path}}/tapahtumasivu/{{tapahtuma.id}}/poistaIlmo">
        <div class="col-xs-5">
            <button type="submit" class="btn btn-danger">En Osallistukaan</button>
        </div>
    </form>
    {% else %}
    <form method="post" action="{{base_path}}/tapahtumasivu/{{tapahtuma.id}}">
        <div class="col-xs-5">
            <button type="submit" class="btn btn-success">Osallistu</button>
        </div>
    </form>
    {% endif %}
    <br>
    <br>
    {% if tapahtuma.onLuoja %}
    <form method="post" action="{{base_path}}/naytaTapahtumanmuokkaus/{{tapahtuma.id}}">
        <div class="col-xs-5">
            <button type="submit" class="btn btn-primary">Muokkaa Tapahtumaa</button>
        </div>
    </form>   
    {% endif %}
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}
