{% extends "base.html" %}
{% block content %}




<div class="container luonti-container">
    <br>
    <div class="container">
        <form method="post" action="{{base_path}}/tapahtumanmuokkaus/{{tapahtuma.id}}">
            <div class="form-group">
                <div class="col-xs-5">
                    <h1>{{tapahtuma.tapahtuman_nimi}}</h1>

                    <br>

                    <h3>Muokkaa Tapahtumaa:</h3>

                    <br>


                    <p>
                        <label>Tapahtuman nimi:</label>
                        <input class="form-control" name="tapahtuman_nimi" value="{{tapahtuma.tapahtuman_nimi}}">
                    </p>
                    <p>
                        <label>Päivämäärä:</label>
                        <input class="form-control" name="pvm" value="{{tapahtuma.pvm}}">
                    </p>
                    <p>
                        <label>Kellonaika:</label>
                        <input class="form-control" name="kellonaika" value="{{tapahtuma.kellonaika}}">
                    </p>
                    <p>
                        <label>Tapahtumapaikka:</label>
                        <input class="form-control" name="tapahtumapaikka" value="{{tapahtuma.tapahtumapaikka}}"> 
                    </p>
                    <p>
                        <label>Lyhyt kuvaus:</label>
                        <input class="form-control" name="lyhyt_kuvaus" value="{{tapahtuma.lyhyt_kuvaus}}">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary">Hyväksy muutokset</button>
                    </p>
                    <p>
                        <a href="{{base_path}}/tapahtumanpoisto/{{tapahtuma.id}}" class="btn btn-danger">Poista</a>
                    </p>

                </div>
                <div class="form-group">
                    <br>
                    <br>
                    <br>
                    <div class="col-xs-4">
                        <p>
                            <a href="http://vipohjol.users.cs.helsinki.fi/Tsoha/kiinnostuksenluonti" class="btn btn-default">Luo uusi aihe</a>
                        </p>
                        <p><br></p>
                        <p>
                            <label>Valitse aiheita: </label>
                        </p>
                        <p><br></p>
                        {% for tag in tagit %}
                        <p>
                            <input type="checkbox" name="{{tag.id}}">
                            {{tag.kiinnostus}}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>

        <br>

    </div>


    <br>

    <br>








    <br>
    <br>
    <br>
    <br>

</div>


<br>








{% endblock %}
