{% extends "base.html" %}
{% block content %}

<div class="container luonti-container">
    <br>
    <div class="container">
        <form method="post" action="{{base_path}}/tapahtumanluonti">
            <div class="form-group">
                <div class="col-xs-5">

                    <h2>Luo Tapahtuma:</h2>

                    <br>


                    <p>
                        <label>Tapahtuman nimi:</label>
                        <input class="form-control" name="tapahtuman_nimi" placeholder="tapahtuman nimi">
                    </p>

                    <p>
                        <label>Tapahtuma-Paikka:</label>
                        <input class="form-control" name="tapahtumapaikka" placeholder="tapahtumapaikka"> 
                    </p>

                    <p>
                        <label>Päivämäärä:</label>
                        <input class="form-control" name="pvm" placeholder="muodossa: YYYY-MM-DD">
                    </p>
                    <p>
                        <label>Kellonaika:</label>
                        <input class="form-control" name="kellonaika" placeholder="muodossa: 14:00">
                    </p>
                    <p>
                        <label>Lyhyt kuvaus:</label>
                        <textarea class="form-control" name="lyhyt_kuvaus">                                
                        </textarea>
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary">Luo Tapahtuma</button>
                    </p>
                </div>
                <div class="form-group">
                    <br>
                    <br>
                    
                    <div class="col-xs-4">
                        <p>
                            <a href="http://vipohjol.users.cs.helsinki.fi/Tsoha/kiinnostuksenluonti" class="btn btn-default">Luo uusi aihe</a>
                        </p>
                       
                        <p>
                            <label>Valitse aiheita: </label>
                        </p>
                        <p><br></p>
                        {% for tag in tagit %}
                        <p>
                            <input type="checkbox" name="{{tag.id}}">
                            {{tag.kiinnostus}}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>

    {% endblock %}
