{% extends "base.html" %}
{% block content %}
<div class="container luonti-container">
    <div class="container">
        <form method="post" action="{{base_path}}/tapahtumanluonti">
            <div class="form-group">
                <div class="col-xs-5">
                    <h2>Luo Tapahtuma:</h2>
                    <br>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<div class="container luonti-container">
    <br>
    <div class="container">
        <form method="post" action="{{base_path}}/tapahtumanluonti">
            <div class="form-group">
                <div class="col-xs-5">

                    {% if errors %}
                    <div class="alert-danger">
                        <ul>
                            {% for error in errors %}
                            <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    {% endif %}

                    <p>
                        <label>Tapahtuman nimi:</label>
                        <input class="form-control" name="tapahtuman_nimi" placeholder="tapahtuman nimi">
                    </p>

                    <p>
                        <label>Tapahtuma-Paikka:</label>
                        <input class="form-control" name="tapahtumapaikka" placeholder="tapahtumapaikka"> 
                    </p>

                    <p>
                        <label>Päivämäärä:</label>
                        <input class="form-control" name="pvm" placeholder="muodossa: YYYY-MM-DD">
                    </p>
                    <p>
                        <label>Kellonaika:</label>
                        <input class="form-control" name="kellonaika" placeholder="muodossa: 14:00">
                    </p>
                    <p>
                        <label>Lyhyt kuvaus:</label>
                        <textarea class="form-control" name="lyhyt_kuvaus">                                
                        </textarea>
                    </p>
                    <p>
                        <button type="submit" class="btn btn-success">Luo Tapahtuma</button>
                    </p>

                </div>
                <div class="form-group">

                    <div class="col-xs-4">


                        <p>
                            <label>Valitse aiheita: </label>
                        </p>

                        {% for tag in tagit %}
                        <p>
                            <input type="checkbox" name="{{tag.id}}">
                            {{tag.kiinnostus}}
                        </p>
                        {% endfor %}
                        <br>
                        <p>
                            <a href="http://vipohjol.users.cs.helsinki.fi/Tsoha/kiinnostuksenluonti" class="btn btn-primary">Luo uusi aihe</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>

    {% endblock %}
