{% extends "base.html" %}
{% block content %}

<div class="container luonti-container">
    <br>
    <div class="container">
        <form method="post" action="{{base_path}}/tilinluonti">
            <div class="form-group">
                <div class="col-xs-5">

                    <h2>Luo Tili:</h2>


                    <p>
                        <label>Etunimi:</label>
                        <input class="form-control" name="etunimi"  placeholder="Etunimi">
                    </p>
                    <p>
                        <label>Sukunimi:</label>
                        <input class="form-control" name="sukunimi" placeholder="Sukunimi">
                    </p>
                    <p>
                        <label>Käyttäjätunnus:</label>
                        <input class="form-control" name="kayttajatunnus" placeholder="Käyttäjätunnus">
                    </p>
                    
                    <p>
                        <label>Salasana:</label>
                        <input class="form-control" name="salasana" type="password" placeholder="Salasana">
                    </p>
                    <p>
                        <label>Salasana uudelleen:</label>
                        <input class="form-control" name="salasana2"  type="password" placeholder="Salasana">
                    </p>
                    <p>
                        <label>Syntymä-aika:</label>
                        <input class="form-control" name="syntyma_aika" placeholder="Syntymä-aika">
                    </p>
                    <p>
                        <label>Osoite:</label>
                        <input class ="form-control" name="osoite" placeholder="Osoite">
                    </p>
                    <p>
                        <label>Puhelinnumero:</label>
                        <input class="form-control" name ="puhelinnumero" placeholder="Puhelinnumero">
                    </p>
                    <p>
                        <label>Sähköposti:</label>
                        <input class="form-control" name="email_osoite" placeholder="matti.meikalainen@roskaposti.fi">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-primary">Luo Tili</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <br>


    {% endblock %}

